* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
}

html, body {
    background-image: url("../css/homepage-bg.svg");
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    background-color: #d1ebFb;
    color: #333;
    margin: 0px;
    padding: 0px;
}

  
        .header{
            background-color: #0086c1;
            width: 100%;
            align-items: center;
            padding: 15px;
            margin-bottom: -0.5%;
        }
        .parentheader img{
            width: 100%;
            padding: 0%;
            margin: 0%;

        }


        .dog img{
            position: absolute;
            z-index: 3;
            height: 40%;
            top: 82%;
            left: 75%;
            box-shadow: #000000 ;
        }

        .header h1 {
            font-family: "Londrina Sketch", sans-serif;
            text-align: center;
            color:  #ffffff;
            text-shadow: 5px 7px 8px rgba(0, 0, 0, 0.5);

        }





        form {
            padding-left: 100px;  
            padding-right: 100px;
            padding-top: 20px;
            margin-bottom: 40px;
        }
        form .opt{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 2%;
            margin-bottom: 1%;
        }

        .opt select{
            border: #000000 3px solid;

            margin-right: 4%;
            margin-bottom: 1%;
            font-size: large;
            padding: .5%;
            font-size: large;
            
        }
        .opt label{
            margin-right: 1%;
            margin-bottom: 1%;
        }

        .agemonth input{
            border: #000000 3px solid;
        }

        


        .quest .radio-group label{

            font-size: 90%;


        }



        label, select {
            font-family: "Playwrite GB S", cursive;
            font-optical-sizing: auto;
            font-size: 90%;
            display: block;
            color: #6958ca;
        }
        select, input[type="number"], button {
            border: #000000 3px solid;
            background-color: #47a9aa;
            color: white;
            border-radius: 10px;
            border: none;
            transition: border-color 0.3s;
            padding: 5px;
            font-size: medium;
            font-weight: bold;
        }
        .radio-group {
            font-weight: 200;
            font-size: 20px;
            display: flex;
            align-items: center;

        }
        .radio-group input[type="radio"] {
            margin: 15px;    
            color: #000000;

        }
        .radio-group label {
            
            display: inline-block;
            margin-right: 15px;
            font-weight: 900;
            cursor: pointer;
        }

.mainbody{
   display: flex;

}
.resultbox{
    margin-top: 15%;
    margin-right: 10%;
    height: 10%;
    font-size: medium;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.resultbox pre{

    margin-top: 28%;
    margin-right: 30%;
}

        button {
            position: absolute;
            display:flex ;
            background-color: #047a33;
            color: #ffffff;
            font-size: large;
            font-weight: 900;
            width: 8%  ;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
            border: #000000 3px solid;
            left: 65%;
            top: 95%;
            border-radius: 100px;
            height: 15%;
        }

        button:hover {
            background-color: #05ac48;
            color: #ffffff;
        }
        button:active {
            transform: scale(0.98);
        }
        h2 {
            position: absolute;
            z-index: 2;
            color: #8b8b8b;
            text-align: center;
            margin-top: 20px;
        }
        
        pre {
            padding: 10px;
            border-radius: 5px;
            max-width: 600px;
            margin: 10px auto;
            white-space: pre-wrap; 
            word-wrap: break-word;
        }
        .result {
            background: #5d5d5d;
            border-left: 6px solid #5d5d5d;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
        }
        .percentage {
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
        }


        .cloud img{
            position: absolute;
            top: 43%;
            width: 300px;
            z-index: 1;
            left: 68%;
        }
